@import 'tailwindcss';

@theme {
  --color-AzulLindo: #213555;
  --color-Fondo: #EEEEEE;
  --color-btnLogin1 : #F8FAFC;
  --color-btnLogin2 : #1C6EA4;
  --color-btnLogin3 : #133E87;
  --color-btnLogin3post : #1F509A;




}